*, *:before, *:after  {
    box-sizing: inherit;
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: "Epilogue", sans-serif;
}
button {font-family: "Epilogue", sans-serif;}





@media only screen and (max-width: 500px)  {

.hero-image-mobile {width: 100%;}
.hero-image-desktop {display: none;}



/* Navigation */

.logo-nav-container {display: flex; justify-content: space-between;}

.logo-nav-container img, .close-menu img {padding: 1rem;}

#navContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #eee;
    transition: 0.5s;
    float: right;}

 .sideNav a, .dropdown-btn {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    display: block;
    border: none;
    background: none;
    width: auto;
    cursor: pointer;
    outline: none;}

.dropdown-btn:focus{color: #000;}

 #close-menu {align-self: flex-end;}

.features-container, .company-container {display: none;}
.features-container img, .company-container img {padding-right: 0.6rem;}

#login-register {margin-top: 2rem; align-self: center;}
#login-register a {text-align: center;}
#login {width: auto;}

#register {
    background-color: #333;
    color: #eee;
    width:150px;
    border-radius: 15px;}



/* Main-Content */

h1 {font-size: 2.5rem;}
p {font-size: 1rem;}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;}

.description-text {
    line-height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;}

.learn-more-btn {
    text-align: center;
    width: 150px;
    text-decoration: none;
    color: #eee;
    border-radius: 1rem;
    padding: 0.8rem;
    background-color: #333;
    border: solid #000 2px;}

    

/* Sponsors */

.sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;}

.sponsors img {object-fit: cover; width: 100%;}

}





@media only screen and (min-width: 501px) {

.hero-image-mobile {display: none;}
.hero-image-desktop {width: 100%; max-height: 700px; object-fit: contain;}
#close-menu, .desktop-hide {display: none;}



/* Navigation */

header {display:flex; padding: 2rem 4rem; align-items:center; gap:5rem;}

.dropdown-btn:focus{color: #000;}

.sideNav {display: flex; align-items: center; gap: 2rem;}

.sideNav a, .dropdown-btn {
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #666;
    border: none;
    background: none;
    display: block;
    cursor: pointer;}

.careers, .log-reg {display: flex; gap: 2rem;}
 
.features-container, .company-container {
    display: none;
    position: fixed;
    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.features-container img, .company-container img {padding-right: 0.6rem;}

#register {
    text-align: center;
    color: #666;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border: solid #000 2px;}



/* Main Content */

h1 {font-size: 5rem;}
p {font-size: 1.3rem; line-height: 2rem;}

main {
    display: flex;
    justify-content: center;
    align-items: center;}

.landing-page {
    display: flex;
    max-width: 1440px;}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;}

.description-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4.5rem;}

.learn-more-btn {
    text-align: center;
    width: 150px;
    text-decoration: none;
    color: #eee;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #000;
    border: solid #000 2px;}

.learn-more-btn:hover {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-evenly;}



}
