* {
    margin: 0px;
    font-family: "Epilogue", sans-serif;
}

body {
    height: 100vh;
    background-color: #fafafa;
}


@media only screen and (max-width: 500px)  {

.hero-image-mobile {width: 100%;}
.hero-image-desktop {display: none;}

/* Navigation */

.logo-nav-container {display: flex; justify-content: space-between;}

.logo-nav-container img, .close-menu img {padding: 1rem;}

#navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: #eee;
    transition: 0.5s;
    float: right;
}

 .sideNav a, .dropdown-btn {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    display: block;
    border: none;
    background: none;
    width: auto;
    text-align: left;
    cursor: pointer;
    outline: none;
 }

 #close-menu {align-self: flex-end;}

.features-container, .company-container {display: none;}
.features-container img, .company-container img {padding-right: 0.6rem;}


#login-register {margin-top: 2rem;}
#login-register a {text-align: center;}
#login {width: auto;}

#register {
    background-color: #333;
    color: #eee;
    width: auto;
    border-radius: 15px;}


/* Main-Content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    gap: 1.2rem;
}

h1 {font-size: 2rem;}

p { font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
    opacity: 0.6;}

.learn-more-btn {
    border-radius: 0.9rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #141414;
    color: #fafafa;
}

/* Sponsors */

.sponsors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.sponsors img {
    object-fit: cover;
    width: 100%;
}

}


@media only screen and (min-width: 501px) {

.hero-image-mobile {display: none;}
.hero-image-desktop {max-width: 500px; object-fit: contain; box-sizing: border-box; }
#close-menu, .desktop-hide {display: none;}



/* Navigation */

header {display: inline-flex; padding: 2.5rem 4rem;align-items: center; gap: 2rem;}

nav {display: inline-flex; align-items: center;
}

.sideNav a, .dropdown-btn {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    color: #777;
    display: flex;
    border: none;
    background: none;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;}

.features-container, .company-container {
    position: fixed;
    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

 .dropdown-btn img, .features-container img {object-fit: contain; padding: 0px 10px;}

.careers {
    display: flex;}
    
.log-reg {
    display: flex;}

#register {
    border: solid #777 2px;
    width: auto;
    border-radius: 15px;}

#register:hover {
    background-color: #333;
    color: #eee;
    border: solid transparent 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.test {
    align-items: center;
    display: flex;
    gap: 50rem;}

/* Main Content */

main {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    column-gap: 10rem;
    padding: 3rem;}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-self: center;
    box-sizing: border-box;
    max-width: 500px;}

.learn-more-btn {
    text-align: center;
    max-width: 100px;
    border-radius: 0.9rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: #333;
    color: #eee;}

.learn-more-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #eee;
    color: #333;
    border: solid #999 1px;
}

h1 {font-size: 4.7rem; color: #444; }

p {font-size: 1.2rem; line-height: 2rem; color: #777; }

.sponsors {
    display: flex;
    gap: 3rem;
    align-self: flex-end;}

.sponsors img {
    object-fit: contain;
    width: 100%;}

}
